 @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Press+Start+2P|Shadows+Into+Light');

body {
  height: 900px;
}

.background-pic {
  background-image: url('../img/controller.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.press-start {
  font-family: 'Press Start 2P';
}

 .navbar-inverse {
   border: none;
 }

 .navbar-inverse .navbar-nav>li>a {
   color: #FFF;
   text-shadow: 1px 1px 2px #333;
 }

 .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
   background-color: rgba(51 51 51 .25);
   color: #F8512F;
 }

.nav-items a {
  margin: 0px 10px;
}

.item {
  height: 635px;
  background-position: center;
  background-size: cover;
}

.carousel-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example {
  height: 500px;
}
